.main{
   text-align: center;
}

.title {
   display: block;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: large;
   font-weight: bold;
   color: black;
   text-align: center;
   padding: 20px;
}

.center {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 4px;
  }

.container{
   display: inline-block;
   align-content: stretch;
}

.element{
   display: inline-block;
   border-style: solid;
   padding: 4px;
   margin: 1px;
  }

  .imagen{
   width: 70%;
   max-width: 150px;
   height: auto;
  }