.main{
   padding-top: 20px;
   text-align: center;
   font-size: 28px;
}

.title {
   display: block;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: xx-large;
   font-weight: bold;
   color: black;
   text-align: center;
   padding: 10px;
}

.center {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-top: 10px;
  }

.container{
   display: inline-block;
   align-content: stretch;
   padding-top: 10px;
}

.element{
   display: inline-block;
   border-style: solid;
   padding: 4px;
   margin: 1px;
  }