{% extends 'base.html' %}

{% block head %} 
<title>Sad dudes generator</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3"></div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="center">
                <img src="{{url_for('static', filename='sad.jpg')}}" style="width: 40%;"/>
            </div>
            <div class="title">Sad Dudes Generator</div>
            <div class="container">
                <div class="element">Options:</div>
                {%for value in data%}
                <div class="element">{{value}}</div>
                {%endfor%}
            </div>
            <div class="center">
                <a class="pure-button" href="/10">Generate a 10 options combination</a>
            </div>  
            <div class="center">
                <a class="pure-button" href="/12">Generate a 12 options combination</a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"></div>
    </div>
</div>
{% endblock %}>