{% extends 'base.html' %}

{% block head %} 
<title>Sad dudes generator</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1"></div>
        <div class="pure-u-1 pure-u-md-1">
            <div class="title">Sad Dudes Generator</div>
            <p style="font-weight: bold;">Options:</p> 
            <div class="container">
                {%for value in data%}
                <div class="element">{{value}}</div>
                {%endfor%}
            </div>
            <p>
                <a class="pure-button" href="/10">10 options</a>
            </p>  
            <p>
                <a class="pure-button" href="/12">12 options</a>
            <p>
        </div>
        <div class="pure-u-1 pure-u-md-1"></div>
    </div>
</div>
{% endblock %}>